<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @like.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @like.destroy %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
